<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          "
        >
          <p>{{ appName }}</p>
          <p style="font-size: 0.7em">{{ appVersion }}</p>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <button ion-item *ngFor="let item of subMenu">
        <ion-accordion-group *ngIf="!!item?.children">
          <ion-accordion>
            <button
              slot="header"
              ion-item
              color="light"
              class="ion-padding accordion-btn"
            >
              <ion-label>{{ item.title }}</ion-label>
              <ion-icon
                class="ion-accordion-toggle-icon"
                [name]="item.icon || 'chevron-down'"
              ></ion-icon>
            </button>
            <button
              ion-item
              class="ion-padding"
              slot="content"
              style="padding-right: 0; padding-left: 1.5rem"
              *ngFor="let subItem of item.children"
              (click)="goTo(item.path)"
            >
              <ion-label>{{ subItem.title }}</ion-label>
              <ion-icon *ngIf="!!subItem.icon" [name]="subItem.icon"></ion-icon>
            </button>
          </ion-accordion>
        </ion-accordion-group>
        <button
          *ngIf="!item?.children"
          (click)="goTo(item.path)"
          style="padding: 0 !important"
        >
          <ion-label>{{ item.title }}</ion-label>
          <ion-icon *ngIf="!!item?.icon" [name]="item.icon"></ion-icon>
        </button>
      </button>
    </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <button (click)="goTo('settings')">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ appName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ng-content></ng-content>
  </ion-content>
</div>
